<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
  <div class="main-content">
  {{>header}}
  <img src="./img/author.jpg" alt="author">
  <p>test website to practice node.js</p>
  </div>
  {{>footer}}
</body>
</html>